.footer {
    padding: 50px 0 45px;
    background: #505050;

    &-title {
        font: italic normal 2rem @main-font;
        color: #fff;
        margin-bottom: 20px;
    }

    &-article {
        max-width: 290px;
        margin-bottom: 30px;

        &:first-child { max-width: 580px; }

        &_wr {
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &-text {
        font: normal normal 1rem @arial;
        color: #fff;
        line-height: 24px;
    }
}

.copyright {
    font: normal normal 1rem @arial;
    color: #fff;
}
