.title {
    font: bold 125px @main-font;
    margin: 17px 0;

    &__wr {
        border-bottom: 1px solid #fff;
        color: #4f4d6a;
        text-transform: uppercase;
        text-align: center;
    }

    &__decor {
        position: relative;
        margin: 0;
        overflow: hidden;
        font-size: 24px;
        font-style: italic;
        font-weight: normal;

        &:before,
        &:after {
            content: "";
            position: relative;
            top: -1px;
            width: 50%;
            height: 2px;
            display: inline-block;
            vertical-align: middle;
            border-top: 1px solid #fff;
        }

        &:before {
            left: -10px;
            margin-left: -50%;
        }

        &:after {
            left: 10px;
            margin-right: -50%;
        }
    }
}

.subtitle {
    font: bold 18px @arial;
    margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 992px){
  .title {
    font-size: calc( ~"36px + (125 - 36) * ( (100vw - 320px) / ( 992 - 320 ))");
  }
}

@media screen and (max-width: 319px) {
    .title {
      font-size: 36px;
    }
}
