.work {
    background: #ebebeb;
    padding: 65px 0 100px;

    &__wr {
        margin: 30px auto 0;
        border-bottom: 1px solid #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-item {
        position: relative;
        padding: 0 10px 40px;
        width: 218px;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    &-info {
        font: italic 1rem @main-font;
        color: #4f4d6a;
    }

    &-title {
        font-size: 1.8rem;
        margin-bottom: 13px;
    }

    &-dscr {}

    &-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .title.__decor { font-size: 1.5rem; }

    .title { font-size: 72px; }

    .img-wr {
        margin: 0 auto 15px;
        width: 174px;
        height: 174px;
        border: 22px solid #efefef;
        border-radius: 100%;
     }

     img { transition: all .4s linear; }
}

@media screen and (max-width: 992px ) {

    .work__wr { max-width: 600px; }
}

@media screen and (max-width: 713px ) {

    .work-wr { justify-content: space-around; }

    .work__wr {
        align-items: center;
        flex-direction: column-reverse;
    }

    .work .title { font-size: 37px; }

}
